// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Noto Sans SC', sans serif;
$heading-font-family: 'Noto Sans SC', sans serif;
